<style>
    :root {
        --sys-font-family: "LXGW WenKai TC";
        --zh-font-family: "LXGW WenKai TC";
        --base-font-family: "LXGW WenKai TC";
        --code-font-family: "LXGW WenKai TC";
        --article-font-family: "LXGW WenKai TC";
    }
</style>

<script>
    (function () {
        const customFont = document.createElement("link");
        customFont.href = "https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=LXGW+WenKai+TC&display=swap";
        customFont.type = "text/css";
        customFont.rel = "stylesheet";
        document.head.appendChild(customFont);
    })();
</script>